# Node modules
node_modules
npm-debug.log

# Build output
build
dist

# Testing
coverage
.nyc_output

# IDE
.vscode
.idea
*.sublime-*
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Misc
*.log
*.md
README.md
