# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea
*.iml
*.iws
*.ipr
.vscode
.settings
.classpath
.project
.factorypath

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log

# Testing
*.class

# Misc
*.md
README.md
DASHMIN-*
interviewq-jumble.postman_collection.json
api-docs.yaml
